body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 76, 130);
    margin: 0px;
}
.nav-bar h2{
    margin: 5px;
    padding: 10px;
    color: white;
}
.content-body{
    margin: 20px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-body h3{
    margin: 5px;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.poll-form{
    margin: 5px;
    padding: 5px;
    width: 70%;
}
.poll-form>input{
    width: calc(100% - 15px);
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: whitesmoke;
}
.poll-form .poll-questions-box{
    margin: 10px 0px;
    width: 100%;
}
.poll-form .poll-questions-box input{
    width: 80%;
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: whitesmoke;
}
.poll-form .poll-questions-box button{
    margin: 5px 0px;
    padding: 5px;
    background-color: hsl(0, 68%, 55%);
    color: white;
    border: 1px solid hsl(0, 68%, 55%);
    border-radius: 3px;
}
.poll-form .poll-questions-box button:hover{
    background-color: hsl(0, 74%, 59%);
    cursor: pointer;
}
.poll-form .poll-questions-box .add-option, .poll-form .poll-questions-box .add-question{
    margin: 5px;
    background-color: hsl(133, 37%, 39%);
    border: 1px solid hsl(133, 37%, 39%);
}
.poll-form .poll-questions-box .add-option:hover, .poll-form .poll-questions-box .add-question:hover{
    background-color: hsl(133, 36%, 38%);
    cursor: pointer;
}
.poll-form .submit-form{
    width: calc(100% - 15px);
    margin: 5px 0px;
    padding: 10px 0px;
    background-color: rgb(0, 76, 130);
    color: white;
    border: 1px solid rgb(0, 76, 130);
    border-radius: 3px;
}
.poll-form .submit-form:hover{
    background-color: rgb(0, 89, 152);
    cursor: pointer;
}